<!DOCTYPE html>
<html>
<head>
<qscms:jobfair_show 列表名="info" 招聘会id="$_GET['id']"/>
<qscms:jobfair_exhibitors_list 列表名="list" 招聘会id="$_GET['id']" 显示数目="10" 分页显示="1"/>
    <include file="public:meta" />
    <link rel="stylesheet" href="../public/css/personal.css">
    <link rel="stylesheet" href="../public/css/jobfair.css">
</head>
<body>
<include file="public:header" />

<div class="split-block"></div>
<div class="jobfair-info">
    <div class="title font16">{$info['title']}</div>
    <div class="pic date">{:date('Y年m月d日',$info['holddate_start'])} - {:date('Y年m月d日',$info['holddate_end'])}</div>
    <div class="pic contact">{$info['phone']}（{$info['contact']}）</div>
    <div class="pic district">{$info['address']}</div>
    <if condition="$info['predetermined_ok'] eq 0">
    <div class="status"></div>
    </if>
</div>

<div class="split-block-title">
    <if condition="$info['predetermined_ok'] eq 1">
    目前已有 <strong>{$list['total']}</strong> 家企业参会，正在陆续增加中.....
    <else />
    共有 <strong>{$list['total']}</strong> 家企业参会
    </if>
</div>
<notempty name="list['list']">
<volist name="list['list']" id="vo">
<div class="com-list-item" onclick="javascript:location.href='{$vo.url}'">
    <div class="com-info">
        <div class="logo">
            <img src="<if condition="$vo['logo']">{:attach($vo['logo'],'company_logo')}<else/>{:attach('no_logo.png','resource')}</if>?{:time()}" border="0" />
        </div>
        <div class="info">
            <div class="line-one font15 substring">{$vo['companyname']}</div>
            <div class="line-two font14 substring">展位号：<strong>{$vo['position']}</strong></div>
            <if condition="$vo['tag_cn']">
            <div class="line-three font12">
                <volist name="vo['tag_cn']" id="tag" offset="0" length="4">
                <div class="tag">{$tag}</div>
                </volist>
                <div class="clear"></div>
            </div>
            <else />
            <div class="line-four font14">{$vo['trade_cn']} | {$vo['nature_cn']}</div>
            </if>
        </div>
        <div class="clear"></div>
    </div>
    <div class="com-district font13">
        <div class="district substring">{$vo['address']}</div>
        <div class="more-jobs link_yellow"><a href="{$vo.url}">共{:count($vo['jobslist'])}个在招职位>></a></div>
        <div class="clear"></div>
    </div>
</div>
<div class="list-split-block"></div>
</volist>
<div class="qspage">{$list['page']}</div>
<else />
    <div class="list-empty link_blue">
        暂无企业参会！
    </div>
</notempty>
<include file="public:footer_min" />
</body>
</html>